header{position:absolute;
    top:0px;
    left:0px;
    width:100%;
}

header .logo img{
    width:300px;
}

header .menu{background-color:black;
    width:100%;
    height:40px;
}

header .menu li{float:left;
    list-style:none;
    line-height:40px;
    color:white;
    font-size:15px;
    padding-left:30px;
    margin:0 auto;
}

main{clear:both;
    position:absolute;
    top:200px;
    left:0px;
    width:100%;
    height:1000px;
    margin-left:20px;
    margin-bottom:40px;
}

main .left{float:left;
    width:70%;
    height:1000px;
}

main .left .Ltop{clear:both;
    width:100%;
    height:60%;
}

main .left .Ltop .Ltitle{
    font-weight:bold;
    width:100%;
    height:7%;
    font-size:30px;
    border-left:6px solid black;
    border-bottom:2px solid black;
}

main .left .Ltop .Ldate{
    width:100%;
    height:40px;
}

main .left .Ltop .bookstore img{
    width:60%;
}

main .left .Ltop .Ltext{
}

main .left .Ltop p{
}

main .left .Lpicture{
    width:60%;
    background-color:darkgrey;
    text-align: center;
}

main .left .Lpicture img{
    width:125px;
    margin:10px;
}

main .left .Lpicture .pic_top{
    width:100%;
    font-size:14px;
}

main .left .Lpicture .pic_top .pic1{
    display: inline-block;
}

main .left .Lpicture .pic_bottom{
    width:100%;
    font-size:14px;
}

main .left .Lpicture .pic_bottom .pic2{
    display:inline-block;
}
    
main .right{float:left;
    width:30%;
    height:1000px;
}

main .right .popular{clear:both;
    width:100%;
    border-bottom:1px dotted black;
    font-weight: bold;
}

main .right .pop_list{
    width:100%;
    list-style: none;
}

main .right .osusume{
    width:100%;
    border-bottom:1px dotted black;
    font-weight: bold;
}

main .right .osu_list{
    width:100%;
    list-style: none;
}

main .right .category{
    width:100%;
    border-bottom: 1px dotted black;
    font-weight: bold;
}

main .right .cat_list{
    width:100%;
    list-style: none;
}

footer{position:absolute;
    top:1200px;
    width:100%;
    height:40px;
    background-color:black;
    color:white;
    text-align: center;
    line-height: 40px;
}